{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <h1>MAIN</h1>
    <section>
        {% for entity in entities %}
            {% if not entity.questionAnswers.isEmpty %}
                <button type="button" class="btn btn-primary" data-toggle="collapse"
                        data-target="#questions">{{ entity.name }}</button>

                <div id="questions" class="collapse">
                    {% for qa in entity.questionAnswers %}
                        <h3>{{ qa.question }}</h3>
                        <p>{{ qa.answer }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <a href="{{ path('subcategories1', {main: entity.mainCategory, c: entity.id }) }}">
                    {{ entity.name }}
                </a>
            {% endif %}

        {% endfor %}
    </section>
{% endblock %}
