{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    {% block categories %}
        <section id="category_parent">
        {% for entity in entities %}
            {% set categoryName = entity.name|replace({' ':'-'})|lower %}

            {% if not entity.questionAnswers is empty %}
                <button type="button" class="btn btn-primary" data-toggle="collapse"
                        data-target="#q_{{ categoryName }}">{{ entity.name }}</button>

                <div id="q_{{ categoryName }}" class="collapse card" data-parent="#category_parent">
                    {% for qa in entity.questionAnswers %}
                        <div class="card-body">
                            <h5>{{ loop.index }}. {{ qa.question }}</h5><hr>
                            <p>{{ qa.answer|raw }}</p>

                            <button type="button" class="btn btn-info" data-id={{ qa.id }}>Statistic</button>
                            {# {% for qReaction in qa.questionReactions %}
                                <p>{{ qReaction.getReaction.reactionCategory }} ------- {{ qReaction.getReaction.reason }}</p>
                            {% endfor %}#}

                            <div class="like-dislike js-like-dislike">
                                <i class="fa fa-thumbs-up" data-question="{{ qa.id }}"></i>
                                <i class="fa fa-thumbs-down" data-toggle="modal" data-target="#myModal_{{ qa.id }}" data-question="{{ qa.id }}"></i>

                                <div class="modal fade" id="myModal_{{ qa.id }}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">What's wrong with this answer ?</h5>
                                            </div>
                                            <div class="modal-body">
                                                <form class="js-dislike-form" data-question="{{ qa.id }}">
                                                    {% for dislike in dislikeReactions %}
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="{{ dislike.id }}" value="{{ dislike.reason }}" data-category="{{ dislike.reactionCategory }}" id="exampleCheck{{ loop.index }}">
                                                            <label class="form-check-label" for="exampleCheck{{ loop.index }}">{{ dislike.reason }}</label>
                                                        </div>

                                                    {% endfor %}
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Send message</button>
                                                    </div>
                                                </form>
                                                <div class="alert alert-danger" role="alert" hidden></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p id="errors_{{ qa.id }}"></p>
                                <p class="msg"></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                 <a href="{{ path('subcategories1', {main: entity.mainCategory, c: entity.id}) }}">
                     {{ entity.name }}
                 </a>
            {% endif %}
        {% endfor %}
        </section>
    {% endblock categories %}
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/questionReaction.js') }}"></script>
    <script>
        $(document).ready(function () {
            $parent = $('#category_parent');

            var reaction = new Reaction($parent);
        });
    </script>
{% endblock javascripts %}